body{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 2rem;
}
h1{

	font-size:4rem;
	text-align: center;
	color: #1f80c9;
	margin-bottom: 60px;

}
#perc{
	
	color: #cd5c5c;
}






























